@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f172a;
    /* Slate 900 */
    --foreground: #f8fafc;
    /* Slate 50 */
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}